
.text-wrapper-ev{
  display: flex;
  max-width: 480px;
  flex-direction: column;
  justify-content: center;
  padding-right: 200px;
  padding-top: 100px;
}

.ev-span{
  font-family: 'Montserrat-Bold';
  font-size: 1.5em;
  color: #FA4A0C;
}

.ev-article-h2{
  font-size: 2.5em;
  padding: 20px 0;
  line-height: 1.2;
}

.ev-article-wrapper{
  margin: 0 150px;
  display: flex;
  justify-content: center;
}

.img-wrapper-ev img{
  filter: drop-shadow(30px 30px 50px rgba(141, 141, 141, 0.678));
}

.ev-description{
  line-height: 1.2;
  padding: 10px 0;
  color: #737373;
}

.img-wrapper-ev{
  position: relative;
}

@media screen and (max-width: 576px){

.ev-article-wrapper{
  margin:0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.text-wrapper-ev{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0;
  padding-top: 0;
  margin: 30px 0;
}

.ev-article-h2{
  padding: 0;
  margin: 30px;
}

.ev-description{
  padding: 0 50px;
}
}
