@import "./reset.css";
@import "./fonts.css";
@import "./navbar.css";
@import "./header.css";
@import "./section_create_account.css";
@import "./section_explore_varieties.css";
@import "./section_download.css";
@import "./footer.css";

body{
  font-family: 'Montserrat-Bold';
}
.description{
  display: block;
  font-size: 1.5em;
  font-family: 'Montserrat-Medium';
}

